{{ define "content" }}
<div class="hero" id="home">

  <div class="hero-content">
  <div class="logo-container">
    <!-- Logo SVG -->
      <img src="static/assets/logo.png" height="250px;">
  </div>
  <p class="tagline">Handcrafted Gourmet Marshmallows</p>
  <button class="cta-button">Shop Now</button>
  </div>

  <div id="three-container"></div>
</div>


<section class="section" id="about">
  <h2 class="section-title">Why Choose Fluff-Mallows?</h2>
  <div class="features-grid">
    {{ range .Features }}
    <div class="feature-card">
      <div class="feature-icon">{{ .Icon }}</div>
      <h3>{{ .Title }}</h3>
      <p>{{ .Description }}</p>
    </div>
    {{ end }}
  </div>
  <p class="dsc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod erat et tincidunt egestas. Mauris varius justo quis vulputate posuere. Cras a velit elit. Mauris cursus sed velit sit amet sodales. Mauris malesuada purus id est ornare, a condimentum metus pharetra. Fusce quis augue ut augue sollicitudin rutrum at quis dui. Ut ullamcorper bibendum libero vehicula bibendum. Nam at sem facilisis, dignissim tellus eu, dignissim odio. Donec vitae facilisis massa, quis dignissim neque. Vivamus eu arcu nec purus tempor luctus id id erat. Suspendisse quis nisl vitae nulla laoreet dignissim ut a erat. Pellentesque malesuada ipsum eu enim porta dapibus. Mauris a ultricies leo.</p>
</section>

<section class="section" id="products">
    <h2 class="section-title">Our Signature Flavors</h2>
    <div class="products-grid">
        {{ range .Products }}
            {{ template "product-card" . }}
        {{ end }}
    </div>
</section>

    <script type="module" src="static/scripts/home.js"></script>
{{ end }}
