<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My first three.js app</title>
    <style>
      body {
        margin: 0;
      }
    </style>

    <link rel="stylesheet" href="static/css/home.css" />

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    <div id="three-container"></div>
    <script type="module" src="static/scripts/three.js"></script>
  </body>
</html>
