@import url('navbar.css');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #fac0ac; */
}

body{
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

main{
  margin-top: 2rem;
}

.banner{
  position: relative;
  /* width: 100%; */
  /* height: 80vh; */
  /* height: 50%; */
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  border-radius: 50%;
}
.banner img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; Ensure the image covers the entire container */
  object-fit:cover;
  z-index: -1;
}
.banner h1{
  color: #272739;
  z-index: 1;
  position: relative;
}